In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('4_digit_code.txt', delimiter = "\t")

In [2]:
df

      0000
0        1
1        2
2        3
3        4
4        5
...    ...
9994  9995
9995  9996
9996  9997
9997  9998
9998  9999

[9999 rows x 1 columns]

In [12]:
df = df.rename(columns={'0000':'numbers' })

In [13]:
df

      numbers
0           1
1           2
2           3
3           4
4           5
...       ...
9994     9995
9995     9996
9996     9997
9997     9998
9998     9999

[9999 rows x 1 columns]

In [29]:
df2 = pd.DataFrame()
df[df.iloc[0:5] != 3] = df2

NameError: name 'pandas' is not defined